{% extends 'base.html'%}
{% load static %}

/**
 * Generate Random Password Template
 * ===============================
 *
 * This template generates a random password based on user input.
 * It includes options for password length, character types, and strength.
 *
 * Example:
 * ```
 * {% url 'generate_password' %} -> /generate-password/
 * ```
 */
{% block main %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="row">
            <h4 class="text-center">Generate Random Password</h4>
        </div>
    </div>
      
<div class="d-flex justify-content-center">
    <form method="get" action="{% url 'generate_password' %}" class="row">
        {% csrf_token %}
            <div class="d-flex justify-content-between">
                <label for="length" class="text-muted">Password Length: </label>
                <input type="number" id="length" name="length" value="12" min="1" max="128"><br><br>
            </div>

            <div class="form-group d-flex justify-content-between">
                <label for="suggestion"class="text-muted">Password Suggestion:</label>
                <input type="text" class="form-control" id="suggestion" name="suggestion" placeholder="Optional">
            </div>
    
            <div class="d-flex justify-content-between">
                <label for="uppercase">Include Uppercase Letters:</label>
                <input type="checkbox" id="uppercase" name="uppercase"><br><br>
            </div>
        
            <div class="d-flex justify-content-between">
                <label for="lowercase">Include Lowercase Letters:</label>
                <input type="checkbox" id="lowercase" name="lowercase"><br><br>
            </div>
    
            <div class="d-flex justify-content-between">
                <label for="digits">Include Digits:</label>
                <input type="checkbox" id="digits" name="digits" class="ms-5"><br><br>
            </div>
    
            <div class="d-flex justify-content-between">
                <label for="punctuation">Include Punctuation:</label>
                <input type="checkbox" id="punctuation" name="punctuation"><br><br>
            </div>
    
            <div class="d-flex justify-content-between">
                <label for="exclude_ambiguous">Exclude Ambiguous Characters (e.g. 1, l, 0, O):</label>
                <input type="checkbox" id="exclude_ambiguous" name="exclude_ambiguous"><br><br>
            </div>

            <button type="submit" class="btn btn-md" style="background-color: var(--custom-button);">
                Generate New Password
            </button>
        </div>

        {% if password %}
            <div class="alert d-flex">
                <strong>Password:</strong> <p id="generated-password">  {{ password }} </p>
                <button onclick="copyToClipboard()" class="btn btn-primary btn-sm  rounded-3">
                    Copy to clipboard
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                    </svg>
                </button>
            </div>
            <div class="{{ strength_class }} alert alert-secondary">
                <strong>Strength:</strong> {{ strength_message }}
            </div>
        {% else %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
       




    
    
                
    
    
            
    </form>
</div>
</div>
{% endblock main %}